git+git://github.com/biothings/biothings.api.git@f1e74c85f10d62893d3cf8c6dba954ffa4cbb762#egg=biothings
scrapy
selenium # required for source 'immport'
beautifulsoup4
elasticsearch
elasticsearch-dsl
extruct
tornado
biothings