:root {
  --main: #25468B;
  --sec: #4776C9;
}

@media only screen and (max-width: 800px) {
  .navbar{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--sec) !important;
    z-index: 1000;
  }
}

.hero {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    background-image: url('../img/back.png');
  }

.text-main{
  color: var(--main);
}

.text-sec{
  color: var(--sec);
}

.bg-main{
  background-color: var(--main);
}

.bg-sec{
  background-color: var(--sec);
}

p{
  font-family: 'Hepta Slab', sans-serif;
}

h1,h2,h3,h4,h5{
  font-family: 'Darker Grotesque', sans-serif;
}

section.full{
  min-height: 100vh;
}

.disclosure{
  font-weight: bold;
}
.syntax{
  color:#3879c6;
}
.string{
  color: #86411b;
}
.number{
  color: purple;
}
.boolean{
  color: purple;
}
.key{

}
.keyword{
  color: red;
}
.object.syntax{
  color: green;
}
.array.syntax{
color: blue;
}
